<!DOCTYPE html>
<html ng-app="phonebookApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Phone Book</title>
    <script src="../../Scripts/angular.min.js"></script>
    <script src="../../Scripts/angular-route.min.js"></script>
    <script src="../../Scripts/app.js"></script>
    <script src="../../Scripts/controllers.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
</body>
</html>
